{% extends "base.html" %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sites/create_site.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h2>Create New Site</h2>
<!-- site_form_template.html -->
<form method="post" action="{% url 'sites:create_site' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
        {% if form.name.errors %}
            <div class="errors">{{ form.name.errors }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.url.label_tag }}
        {{ form.url }}
        {% if form.url.errors %}
            <div class="errors">{{ form.url.errors }}</div>
        {% endif %}
    </div>
    <button type="submit">Submit</button>
</form>

<style>
.errors {
    color: red;
}
</style>

</div>
{% endblock %}